{{>header}}
<h1> señor coordinador registrese  </h1> 
<form  action="/registrarcoordinador" method="POST">

      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" required><br>
      <label for="contrasena" class="form-label">Contaseña</label>
      <input type="text" name="contrasena" class="form-control" value=""><br>
      <input type="submit" name="enviar" class="form-control"  Enviar><br>
</form>
{{>footer}}